{% extends "base.html" %}

{% block main %}

<form action="{{url_for('get_profile')}}" method="post" enctype="multipart/form-data">
    <legend>Add Profile</legend>
    <br/>
    {{form.csrf_token}}

 
   
    <div class="form-group">
            {{form.firstname.label}}
            {{form.firstname(class="form-control")}}
    </div>

    <div class="form-group">
        {{form.lastname.label}}
        {{form.lastname(class="form-control")}}
    </div>

    <div class="form-group">
        {{form.gender.label}}
        {{form.gender(class="form-control")}}
    </div>

   <div class="form-group">
       {{form.email.label}}
       {{ form.email(class="form-control") }}
   </div>

   <div class="form-group">
       {{form.location.label}} 
       {{form.location(class="form-control")}}
   </div>

    <div class="form-group">
        {{form.biography.label}}
        {{ form.biography(class="form-control",cols="35", rows="20") }}
    </div>

    <div class="form-group">
        {{form.image.label}}
        {{form.image(class="form-control-file")}}
    </div>

    
    <button type="submit" class="btn btn-success">Add Profile</button>
    
</form>

{% endblock%}