{% extends "base.html" %}


{%block main%}
<div class="card w-75">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/uploads/{{user.image}}" alt="user photo" height="200px" width="200px">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                   <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                  <p class="card-text"><i class="icon far fa-envelope"></i>{{user.email}}</p> 
                    <p class="card-text"><i class=" icon fas fa-map-marker-alt"></i>{{user.location}}</p> 
                    <p class="card-text"><i class="icon fas fa-calendar-alt"></i>{{user.created_on}}</p>
                </div>
            </div>
            <div class="col-md-12 padding-bio"></div>
                    <br>
                    <h5 class="margin-bio">About Me</h5>
                    <br>
                    <p class="lead margin-bio">{{user.biography}}</p> 
                    <div class="align"></div>  
            </div>
        </div>
        <div class="btn-align">
            <button type="button" class="btn btn-success">Send Message</button>
            <button type="button " class="btn btn-primary follow text">Follow</button>
        </div>
    </div>
</div>
{% endblock %}