{% extends "base.html" %}


{%block main%}
<div class="card w-75">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="static/uploads/Folder.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                  <p class="card-text"><i class="icon far fa-envelope"></i>Email</p> 
                    <p class="card-text"><i class=" icon fas fa-map-marker-alt"></i>Location</p> 
                    <p class="card-text"><i class="icon fas fa-calendar-alt"></i>Day Joined</p>
                </div>
            </div>
            <div class="col-md-12 padding-bio"></div>
                    <br>
                    <h5 class="margin-bio">About Me</h5>
                    <br>
                    <p class="lead margin-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae iure id minima amet fuga voluptates ab, aspernatur autem voluptas rem ut libero ipsum incidunt ratione assumenda facilis a veniam eius?</p> 
                    <div class="align"></div>  
            </div>
        </div>
        <div class="btn-align">
            <button type="button" class="btn btn-success">Send Message</button>
            <button type="button " class="btn btn-primary follow text">Follow</button>
        </div>
    </div>
</div>
{% endblock %}