{% extends "base.html" %}


{%block main%}
<div class="card w-75">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="static/uploads/Folder.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <span class="glyphicon glyphicon-user"></span><h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="col-md-12">
                    <br>
                    <h5>About Me</h5>
                    <br>
                    <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae iure id minima amet fuga voluptates ab, aspernatur autem voluptas rem ut libero ipsum incidunt ratione assumenda facilis a veniam eius?</p> 
                    <div class="align"></div>  
            </div>
        </div>
        <div class="btn-align">
            <button type="button" class="btn btn-success">Send Message</button>
            <button type="button " class="btn btn-primary follow text">Follow</button>
        </div>
    </div>
</div>
{% endblock %}